<%= render "layouts/dapcons_navigation" %>
			<div class="continguts-dapcons">
				<div class="titol-pagina-dapcons">
	        <%= sanitize t('.documents_oficials') %>
	      </div>
	      
    		<p>Els documents que regeixen el programa DAPconstrucción<sup>®</sup>:</p>

				<h4 class="subtitol-dapcons">Instruccions Generals del Programa</h4>
				<p>Les Instruccions Generals del Programa (IGP) estableixen de manera clara i ordenada, els criteris, les bases normatives, els objectius, els procediments, els agents participants, les quotes, així com la resta de documents que conformen el programa.</p>

				<p>Instruccions Generals del Programa</p>

				<p>Instruccions Generals del Programa (versió en anglès)</p>

				<h4 class="subtitol-dapcons">Regles de Categoria de Producte</h4>
				<p>El desenvolupament d’una DAPcons® es basa en l’aplicació d’unes directrius que marquen com s’ha de realitzar l’estudi de Anàlisi del Cicle de Vida (ACV) del producte. Aquestes directrius són les denominades, Regles de Categoria de Producte (RCP).</p>

				<p>Les Regles de Categoria de Producte (RCP) recullen els requisits i directrius que s’ han de seguir per desenvolupar una declaració ambiental de producte, incloent-hi l’estudi de l’anàlisi del cicle de via corresponent que pot variar segons, per exemple, la funció del producte, la incorporació de material reciclat o la complexitat del procés productiu.</p>

				<p>Actualment s’han desenvolupat i estan a disposició de les empreses afiliades al Programa DAPcons®:
					<ul>
						<li>RCP d’aïllants tèrmics</li>
						<li>RCP de revestiments ceràmics</li>
						<li>RCP de pedra i àrids</li>
						<li>RCP de productes de construcció en general</li>
					</ul>
				</p>
    	</div>
	      	
<%= render "layouts/dapcons_closing" %>