<%= render "layouts/dapcons_navigation" %>
			<div class="continguts-dapcons">
				<div class="main-title-container">
	        <span class="main-title"><%= t('.sistema_dapcons') %></span>
	      </div>
	      <div class="grid-x grid-margin-x">
	      	<div class="medium-8 cell">
	      		Aquí continguts principals
	      	</div>
	      	<div class="medium-4 cell">
	      		Notícies
	      	</div>
	      </div>
			</div>
<%= render "layouts/dapcons_closing" %>