<%= render "layouts/dapcons_navigation" %>
			<div class="continguts-dapcons">
				<div class="titol-pagina-dapcons">
	        <%= sanitize t('.que_son') %>
	      </div>
	      <div class="grid-x grid-margin-x">
	      	<div class="medium-8 cell">
	      		
	      	</div>
	      	<div class="medium-4 cell">
	      		Notícies
	      	</div>
	      </div>
			</div>
<%= render "layouts/dapcons_closing" %>