<div class="container">
  <div class="grid-x grid-margin-x">
    <div class="medium-4 cell">
      <h4></h4>
      <div class="img-index-video">
        
      </div>
      <div class="text-index-video">

      </div>
    </div>
  </div>

  <div class="grid-x">
    <div class="medium-12 cell">
      <%= link_to 'Nou vídeo', new_video_path %>
      <%= render @videos %>
    </div>
  </div>
</div>