<p id="notice"><%= notice %></p>

<p>
  <strong>Cerca:</strong>
  <%= @cerca_producte.cerca %>
</p>

<%= link_to 'Edit', edit_cerca_producte_path(@cerca_producte) %> |
<%= link_to 'Back', cerca_productes_path %>
