// Place all the styles related to the CasPractics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container-show-cas {
	padding-top: 20px;
}

.titol-cas {
	font-size: 2em;
	font-weight: bold;
	margin-bottom: 20px;
}

.credits-cas {
	
}

.titol-credits-cas {
	font-weight: bold;
}