// Place all the styles related to the dapcons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.menu-dapcons-lateral-container {
	//background-color: #efefef;
	//border-left: 1px dotted #ccc;
	border-right: 1px dotted #ccc;
}

.menu-dapcons > li {
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 1px dotted #d3d3d3;
}

.menu-dapcons > li > a {
	color: #333;
}

.menu-dapcons-seccio {
	margin-left: 15px;
	margin-bottom: 10px;
	font-weight: bold;
}

.text-negreta {
	font-weight: bold;
}

.titol-pagina-dapcons {
	margin: 60px 0px 20px 0px;
	font-size: 1.9em;
	font-weight: bold;
}

.subtitol-dapcons {
	font-size: 1.2em;
	font-weight: bold;
	margin-top: 26px;
}

.contenidor-noticies-dapcons {
	margin-top: 60px;
}

.contenidor-noticia {
	border: 1px solid #ccc;
}